@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--surface-ground);
    color: var(--text-color);
}